# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
.json
*.jsonl
logs

# Model Checkpoints
models

# Data
!**/alpaca-data-conversation.json
img_droid_test

# Editor
.idea
*.swp

# Other
.DS_Store
.vscode
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
llava/eval/table/results/test_sqa_llava_lcs_558k_sqa_12e_vicuna_v1_3_13b.json
llava/eval/table/results/test_sqa_llava_13b_v0.json

# Others
change_vocab.py
check_len.*